.Header {
    position: fixed;
    padding: 50px 0;
    z-index: 100;
    width: 100%;
}


.HeaderGroup{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
}

.Header a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.Header button {
    padding: 0px 20px;
    font-size: 20px;
    background: #56CCF2;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header button:hover{
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    transform: translateY(-3px);
}

@media (max-width: 640px){
    .Header{
        padding: 15px 0;
    }
    .HeaderGroup{
        grid-template-columns: repeat(4, auto);
    }

    .HeaderGroup a:nth-child(4){
        display: none;
    }
}